:root {
  --white: #fff;
  --black: #000000;
  --primary: #b0bec5;
  --primary-light: #e2f1f8;
  --primary-dark: #808e95;
  --secondary: #e57373;
  --secondary-light: #ffa4a2;
  --secondary-dark: #af4448;
}

#navbar {
  height: 80px;
  background-color: var(--primary);
  border-top: solid 15px var(--primary-dark);
  box-sizing: border-box;
  text-align: center;
}

#navbar .nav-link {
  color: var(--black);
  font-size: 2.2rem;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 3px;
  position: relative;
  top: 4px;
}

#navbar .nav-link-active {
  transition: 1s;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  border: solid 1px var(--black);
}

#login-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 350px;
  width: 350px;
  background-color: var(--secondary);
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

#login-container #login-form {
  color: var(--black);
  font-size: 1.3rem;
  text-align: left;
}

#login-container .input-container {
  margin-left: 35px;
  margin-top: 20px;
}

#login-container .input-label {
  color: var(--white);
}

